body {
  margin: 0;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.intro__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.intro__logo {
  width: 120px;
}

.intro__nav-menu {
  margin-left: auto;
}

.intro__link {
  color: #070439;
  font-family: "Open Sans", sans-serif;
  font-size: 15.5px;
  text-decoration: none;
  max-width: 520px;
  letter-spacing: 0.5px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
  margin: 0 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.intro__link--bold {
  font-weight: 700;
}

.intro__link:hover {
  cursor: pointer;
  opacity: 0.5;
}

.intro__img-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro__heading {
  color: colors(Very-dark-blue);
  font-family: "Raleway", sans-serif;
  font-size: 37px;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
}

.intro__paragraph {
  color: #070439;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-decoration: none;
  max-width: 520px;
  letter-spacing: 0.5px;
  line-height: 25px;
  font-weight: 400;
  margin: 20px 0 25px;
}

.intro__paragraph--bold {
  font-weight: 700;
}

.intro__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro__email-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro__email-input {
  width: 300px;
  border: 1px solid #070439;
  border-radius: 2px;
  padding: 10px;
}

.intro__error-msg {
  color: #ff0000;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  opacity: 0.85;
  margin: 7px 0 0;
}

.intro__error-msg--visible {
  display: block;
}

.intro__error-msg--hidden {
  display: none;
}

.intro__submit-input {
  background-color: #3065f8;
  color: #f6f6fe;
  width: 170px;
  height: 39px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 12.5px;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  border-radius: 2px;
  padding: 10px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-left: 15px;
}

.intro__submit-input:hover {
  cursor: pointer;
  opacity: 0.8;
}

.intro__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__img {
  width: 600px;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6fe;
  width: 100%;
  padding: 90px 0;
}

.testimonial__img-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 50px;
}

.testimonial__heading {
  color: colors(Very-dark-blue);
  font-family: "Raleway", sans-serif;
  font-size: 37px;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  margin-bottom: 35px;
}

.testimonial__paragraph {
  color: #070439;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-decoration: none;
  max-width: 520px;
  letter-spacing: 0.5px;
  line-height: 25px;
  font-weight: 400;
  margin: 0 0 15px;
}

.testimonial__paragraph--bold {
  font-weight: 700;
}

.testimonial__link {
  color: #070439;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-decoration: none;
  max-width: 520px;
  letter-spacing: 0.5px;
  line-height: 25px;
  font-weight: 400;
  color: #3c9f8f;
  text-decoration: underline;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.testimonial__link--bold {
  font-weight: 700;
}

.testimonial__link:hover {
  cursor: pointer;
  opacity: 0.5;
}

.testimonial__testimonial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #ffffff;
  width: 320px;
  border-radius: 7px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 20px;
  margin-top: 42px;
}

.testimonial__testimonial-icon {
  width: 20px;
}

.testimonial__testimonial-paragraph {
  color: #070439;
  font-family: "Open Sans", sans-serif;
  font-size: 12.5px;
  text-decoration: none;
  max-width: 520px;
  letter-spacing: 0.5px;
  line-height: 25px;
  font-weight: 400;
}

.testimonial__testimonial-paragraph--bold {
  font-weight: 700;
}

.testimonial__author-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4px;
}

.testimonial__author-img {
  width: 40px;
  border-radius: 100%;
  margin-right: 10px;
}

.testimonial__author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.testimonial__author-name {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 2px;
}

.testimonial__author-title {
  font-family: "Raleway", sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  margin: 0;
}

.testimonial__img {
  width: 500px;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cta__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__columns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
/*# sourceMappingURL=styles.css.map */